header {
    background-color: white;
    border-bottom: 3px solid #000400;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
}

.header h1 {
    font-size: 26px;
    font-weight: 800;
}

nav {
    display: flex;
    align-items: center;
}

.nav-avatar {
    width: 30px;
    height: 30px;
    border-radius: 200%;
    border: 1px solid black;
    margin-right: 10px;
}

.nav-user {
    text-decoration: underline;
}